BASE_GDRIVE_DIR="/root/google_drive"
BACKUP_DIR="${BASE_GDRIVE_DIR}/Backups/$(uname -n)"
BACKUP_DATABASE_DIR="${BACKUP_DIR}/database"
BACKUP_HOME_DIR="${BACKUP_DIR}/home"
BACKUP_HOME_DIR_ENABLED=true
MYSQL_PASSWORD=""
MYSQL_INDIVIDUAL_BACKUP_ENABLED=true
MYSQL_ALL_DATABASES_BACKUP_ENABLED=true